<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Team Rankings 2017</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/teams/">View Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ranks/">View Rankings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  {{#user}}
  <h1>
    You are logged in as {{ name }}.
  </h1>
  <p>More statistics are coming to this page soon!</p>
  {{/user}}

  <div class="d-flex flex-wrap">
      <div class="card text-left m-2">
        <h4 class="card-title  p-2">Top Weekly Rankings</h4>
        <h6 class="card-subtitle mb-1 text-muted pl-2">Week {{week}}</h6>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Team</th>
            </tr>
          </thead>
          <tbody>
            {{#weeklyTotal}}
            <tr>
                <th scope="row">{{index}}</th>
                <td>{{Team.teamName}}</td>
            </tr>
            {{/weeklyTotal}}
            {{^weeklyTotal}}
            <tr>
                <th scope="row">N.A.</th>
                <td>No rankings have been submitted.</td>
            </tr>
            {{/weeklyTotal}}
          </tbody>
        </table>
      </div>
  </div>
</div>
