<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Team Rankings 2017</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/teams/">View Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ranks/">View Rankings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Welcome to Week {{week}} Rankings!</h2>
  <p>To view all week rankings, click <a href="/">HERE</a>!</p>
  {{#messages.error}}
  <div class="alert alert-danger" role="alert">
    {{.}}
  </div>
  {{/messages.error}}
  {{#messages.success}}
  <div class="alert alert-success" role="alert">
    {{.}}
  </div>
  {{/messages.success}}
  <div id="rankings-layout">
    <div class="d-flex flex-wrap">
      {{#rankingList}}
        <div class="card text-left m-2">
          <h4 class="card-title  p-2">{{creator}}'s Rankings</h4>
          <h6 class="card-subtitle mb-1 text-muted pl-2">Week: {{week}}</h6>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Team</th>
              </tr>
            </thead>
            <tbody>
              {{#rankingOrder}}
              <tr>
                <th scope="row">{{index}}</th>
                <td>{{teamName}}</td>
              </tr>
              {{/rankingOrder}}
            </tbody>
          </table>
          <div class="card-footer">
            <small class="text-muted">Created {{timeCreated}}</small>
          </div>
        </div>
      {{/rankingList}}
    </div>

    <form class="rankings-form" action="/ranks/" method="post">
      <h4 class="m-3">Submit This Week's Rankings</h4>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="1">1st</label>
        <select id="1" class="form-control" name="1">
          <option default>Select Team</option>
          {{#teams}}
            <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="2">2nd</label>
        <select id="2" class="form-control" name="2">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="3">3rd</label>
        <select id="3" class="form-control" name="3">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="4">4th</label>
        <select id="4" class="form-control" name="4">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="5">5th</label>
        <select id="5" class="form-control" name="5">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="6">6th</label>
        <select id="6" class="form-control" name="6">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="7">7th</label>
        <select id="7" class="form-control" name="7">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="8">8th</label>
        <select id="8" class="form-control" name="8">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="9">9th</label>
        <select id="9" class="form-control" name="9">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="10">10th</label>
        <select id="10" class="form-control" name="10">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="11">11th</label>
        <select id="11" class="form-control" name="11">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="12">12th</label>
        <select id="12" class="form-control" name="12">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="13">13th</label>
        <select id="13" class="form-control" name="13">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <div id="select-inputs" class="form-group">
        <label class="mr-sm-2" for="14">14th</label>
        <select id="14" class="form-control" name="14">
          <option default>Select Team</option>
          {{#teams}}
          <option value="{{id}}">{{teamName}}</option>
          {{/teams}}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit Your Rankings!</button>
    </form>
  </div>
</div>
